body {
  background-color: rgb(173, 173, 173);
  padding: 0;
  margin: 0;
}

#head,
#foot {
  display: inline;
}

#nav {
  background-color: rgb(245, 225, 184);
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  font-size: x-large;
  color: black;
}

.card {
  background-color: rgb(232, 215, 248);
}
.row {
  gap: 2%;
}

h4 {
  display: stretch;
  font-size: x-large;
  text-decoration: underline;
  width: 100%;
}

.foot {
  background-color: rgb(245, 225, 184);
  margin: 0.1%;
  padding: 2%;
}

#foot {
  background-color: rgb(245, 225, 184);
}

#contactDiv {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(245, 225, 184);
  padding: 10px;
}

img {
  width: 70%;
  height: 60%;
}

#img2 {
  font-size: 100px;
  offset-path: path("M20,20 C20,100 200,0 200,100");
  animation: movingAnimation 5s linear infinite;
  position: center;
  left: 0;
  bottom: 0;
}

@keyframes movingAnimation {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

#h2 {
  color: rgb(245, 225, 184);
}
